body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.titlePage {
    height: 90vh;
    background-image: url(/assests/img/Image_manu/Manu_campus.jpg);
    background-size: 100%;
    background-position-y: center;
}

.navbtn {
    display: flex;
    gap: 2rem;
    flex: 2;
    justify-content: center;
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.navimg {
    flex: 0.5;
    margin-left: 2rem;
}

.navexpo {
    flex: 0.5;
    margin-right: 2rem;
    text-align: end;
}

.butonexpo {
    color: #E2001A;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    background-color: white;
    border-color: black;
}

.navimg img {
    height: 70px;
    width: 80px;
}

.titlePage{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.title{
    border: solid 3px;
    border-radius: 10px;
    border-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.349);
    }

.title h1{
    font-size: 60px;
    font-family: bold;
    font-family: 'Roboto', sans-serif;
    padding-top: 0px;
    margin-top: 0px;
}

.title div{
    font-size: 48px;
    text-align: center;
    margin-top: -70px;
    margin-bottom: 0px;
}


.flex {
    display: flex;
    font-size: 14px;

    
}






/* fin de l'espace page principale  */